# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Database files
backend/database.sqlite
*.db
*.sqlite

# Environment variables
.env

# MacOS system files
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
