body {
margin: 0;
font-family: 'Poppins', sans-serif;
background: linear-gradient(135deg, #0d0d0d, #2c2c2c);
color: #fff;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}


.player-container {
width: 95%;
max-width: 1200px;
height: 90vh;
background: rgba(255, 255, 255, 0.04);
backdrop-filter: blur(10px);
border-radius: 20px;
display: flex;
padding: 20px;
gap: 20px;
box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}


/* Left Album */
.left img {
width: 100%;
max-width: 350px;
height: auto;
border-radius: 18px;
box-shadow: 0 0 25px rgba(0,0,0,0.4);
}


.left {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
}


/* Center */
.center {
flex: 1.5;
display: flex;
flex-direction: column;
justify-content: center;
padding: 10px;
}

 .title { font-size: 28px; font-weight: 600; }
.artist { opacity: 0.7; }


#progressBar { width: 100%; margin-top: 20px; }


.controls {
display: flex;
align-items: center;
gap: 15px;
margin-top: 20px;
flex-wrap: wrap;
}


.controls button {
width: 50px;
height: 50px;
font-size: 20px;
border-radius: 50%;
background: #4aa8ff;
border: none;
cursor: pointer;
transition: 0.3s;
}


.controls button:hover { background: #6bbcff; }


#volumeControl { width: 150px; }


/* Playlist */
.right {
flex: 1;
overflow-y: auto;
padding-right: 10px;
}

.song-item {
padding: 12px;
background: rgba(255,255,255,0.07);
border-radius: 10px;
margin-bottom: 12px;
cursor: pointer;
transition: 0.3s;
}


.song-item:hover { background: rgba(255,255,255,0.15); }


.active-song {
border-left: 4px solid #4aa8ff;
background: rgba(255,255,255,0.2);
}


/* MOBILE RESPONSIVE */
@media (max-width: 900px) {
.player-container {
flex-direction: column;
height: auto;
}


.left img { max-width: 250px; }
}